body {
    font-family: Arial, Helvetica, freesons, sans-serif;
    margin: 0;
}

/*centers in the middle*/
.fixed-width {
    margin: 0 auto;
    width: 1000px;
}

#bold {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: 0.5px;
}

.top-bar {
    background-color: white;
    width: 100%;
    height: 40px;
    color: black;
}

.top-bar ul {
    float: left;
    margin: 0;
    padding: 0;
}

.top-bar ul li {
    float: left;
    list-style: none;
    border-right: 1px solid #CCCCCC;
    font-weight: bold;
    font-size: 0.8em;
    padding: 12.5px 10px;
}

.news-bar {
    background-color:#BB1919;
    width: 100%;
    height: 60px;
    color: white;
}

.news-bar p {
    margin: 0;
    padding: 0;
    font-size: 2.6em;
    font-family: Arial;
    position: relative;
    right: 4px;
}

.category-bar {
    background-color:#BB1919;
    width: 100%;
    height: 30px;
    color: white;
}

.category-bar ul {
    margin: 0;
    padding: 0;
}

.category-bar ul li {
    float: left;
    list-style: none;
    border-right: 1px solid #BB454F;
    font-family: Arial;
    font-size: 0.9em;
    padding: 3px 10px 8.5px 10px;
    position: relative;
    left: -11px;
    top: 2px;
}

.location-bar {
    background-color: white;
    width: 100%;
    height: 30px;
    color: black;
}

.location-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.location-bar ul li {
    float: left;
    border-right: 1px solid #DCDCDC;
    font-family: Arial;
    font-size: 0.9em;
    padding: 1px 12px 1px 12px;
    position: relative;
    right: 10px;
    top: 8px;
}

.content {
    background-color: white;
    width: 100%;
    color: black;
}

.content h1 {
    color: #222222;
}

.content img {
    float: top;
    margin-top: 10px;
}

.content p {
    width: 475px;
}

.content a {
    text-decoration: none;
}

#content-links {
    width: 500px;
    margin-top: 50px;
    position: relative;
    right: 30px;
}

#logo {
    float: left;
    padding-top: 6px;
    padding-right: 10px;
    padding-bottom: 6.2px;
    border-right: 1px solid #CCCCCC;
}

#sign-in {
    float: left;
    font-weight: bold;
    font-size: 0.8em;
    padding: 10px 70px 8.8px 10px;
    border-right: 1px solid #CCCCCC;
}

#search-box {
    float: left;
    width: 180px;
    padding: 10px;
}

#search-box-input {
    height: 20px;
    padding-bottom: 1px; 
    background-image: url("https://nav.files.bbci.co.uk/searchbox/e9ff1f476bd0916bdea190a830436c38/img/gel-icon-search-dark.svg");    
    background-repeat: no-repeat;
    background-position: right center;

}