html {
    font-family: sans-serif;
}

header {
    display: block;
}

.progress-button {
    position: relative;
    display: inline-block;
    padding: 0px 60px;
    outline: none;
    border: none;
    background: lightskyblue;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1em;
    line-height: 4;
}

.progress-button[disabled], .progress-button[disabled].state-loading {
    cursor: default;
}

.wrapper {
    text-align: center;
    vertical-align: top;
}

section {
    position: relative;
    text-align: center;
    padding: 1em 3em 3em;
}

.wrapper section {
    display: inline-block;
    width: 300px;
}

section h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: green;
    font-weight: 700;
    padding: 1em;
    font-size: 0.8em;
}
