* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #FFFFFF;
}

body {
    min-height: 100vh;
    margin: 10px;
    background-color: #EEEEEE;
    font-size: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
    display: flex;
    flex-direction: column;  
}

#title {
    /* border: 1px solid black; */
    font-size: 2rem;
    margin-top: 1.3rem;
    text-align: center;
}

#subtitle {
    font-size: .9rem;
    text-align: center;
    margin-bottom: 1.3rem;
}

.img-div {
    background-color: white;
    padding: 1rem;
    margin: 0;
    width: 90%;
    align-self: center;
}

.img-div img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}

.img-div  #img-caption {
    font-size: .8rem;
    text-align: center;
    opacity: .7;
    padding-top: .4rem;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    padding: 2rem;
}

#tribute-info h3 {
    margin-top: -1rem;
    margin-bottom: 1.2rem;
    text-align: center;
    font-size: 1rem;
}

#tribute-info ul {
    list-style: circle inside;
    line-height: 1rem;
    margin: auto;
    width: 50%;
}


#tribute-info ul li{
    font-size: .8rem;
    margin-bottom: 1rem;
}

.quote {
    background-color: #eee;
    margin: auto;
    width: 50%;
    font-size: .8rem;
    padding: 1rem;
    border-radius: 3rem;
    opacity: .9;
}

#external-link {
    margin: 1rem auto;
    width: 50%;
    font-size: .8rem;
    opacity: .8;
}


@media (max-width: 500px) {

    .img-div {
        width: 80%;
    }

    #tribute-info ul{
        width: 100%;
        margin: 0;
    }

    .quote {
        width: 90%;
        text-align: center;
    }

    #external-link {
        width: 90%;
        text-align: center;
    }
}