html {
    background: url("../images/font.jpg") no-repeat center center fixed;
    background-size: cover;
}

body, html {
    margin: 0;
    padding: 0;
}

.keys {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 1;
    min-height: 100vh;
}

.key {
    border: .4rem solid darkgoldenrod;
    border-radius: .7rem;
    margin: 1rem;
    font-size: 2rem;
    padding: 1rem .4rem;
    transition: all .07s;
    text-align: center;
    width: 11rem;
    color: darkgoldenrod;
    background: rgba(255,255,255,255);
    text-shadow: 0 0 .5rem darkgoldenrod;
}

.playing {
    transform: scale(1.1);
    border-color: darkgoldenrod;
    box-shadow: 0 0 1rem darkgoldenrod;
}

kbd {
    display: block;
    font-size: 2rem;
}

.sound {
    font-size: 2rem;
    text-transform: capitalize;
    color: darkgoldenrod;
    letter-spacing: .1rem;
}