html {
    background-color: #eef;
    width: 100%;
    font-size: 15px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #222;
} 

.container {
    display: grid;
    height: 100vh;
    border: 1px solid black;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
}

.header {
    border: 2px solid blue;
    grid-area: hd;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navigator {
    border: 2px solid hotpink;
    grid-area: hd;
}

.features {
    border: 2px solid yellow;
    grid-area: ftr;
}

.sidebar {
    border: 2px solid greenyellow;
    grid-area: sd;
}

.content {
    border: 2px solid firebrick;
    grid-area: cnt;
}

.footer {
    border: 2px solid slateblue;
    grid-area: ft;
}

/*Laptops and PCs.*/
@media (min-width: 1025px) {
    .container {
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "cnt cnt cnt cnt cnt cnt cnt cnt"
        "ft ft ft ft ft ft ft ft";
        margin: 2% 7%;
    }    
}

/*Smartphones and tablets*/
@media (min-width: 200px) and (max-width: 1024px)
{
    .container {
        grid-template-areas:
        "hd"
        "cnt"
        "sd"
        "ft";
    }
}