.header h1 {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.text {
    background-color: #dee;
    display: block;
    padding: 0 5rem;
    border-radius: 4rem;
    margin-top: -10rem;
}

.text .more-info {
    padding-top: 4rem;
}

.author-info {
    border: 2px  groove #555;
    border-radius: 50%;
    width: 70%;
    height: 50%;
    margin: 1rem auto;
    background-color: #9ac;
}

.content {
    margin-bottom: 10rem;
}

.author-info .author-text {
    padding-top: 15rem;
    padding-bottom: 20rem;
    text-align: center;
    margin: 1rem 2rem;
    max-height: 100%;
}

.author-info .author-text h2{
    padding: 0 2rem;
    margin-top: -7rem;
    font-size: 2rem;
}

.author-info .author-text h3{
    margin-top: .5rem;
    font-size: 1.8rem;
}

.author-info .author-text h4{
    margin-top: .5rem;
    font-size: 1.4rem;
}

.author-info .author-text p{
    text-align: center;
    margin-top: 1.5rem;
    padding: 0 3rem;
    font-size: 1.2rem;
}

.fa-smile {
    padding-top: 4rem;
    font-size: 2rem;
    color: #92f7ac;
}


/*Laptops and PCs.*/
@media (min-width: 1025px) {
    .post-container {
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "ftr ftr ftr ftr ftr ftr sd sd"
        "cnt cnt cnt cnt cnt cnt sd sd"
        "ft ft ft ft ft ft ft ft";
    }   
    
    .content {
        margin-top: 2rem;
    }
}

/*Smartphones and tablets*/
@media (min-width: 200px) and (max-width: 1024px)
{
    html {
        font-size: 10px !important;
    }
    .post-container {
        grid-template-areas:
        "hd"
        "ftr"
        "cnt"
        "sd"
        "ft";
    }

    .content {
        margin-top: 15rem;
    }
}